<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--1. 引入数据库配置文件-->
    <context:property-placeholder location="classpath:database-config.properties"/>

    <!--2. 配置连接池
        dbcp:半自动化操作，不能自动连接
        c3p0：自动化操作，自动化的加载配置文件，并且加载到配置中
        druid
        hikari
    -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!--c3p0的其他配置-->
    </bean>

    <!--3. sqlsessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--将spring与mybatis连接起来-->
        <property name="configLocation" value="mybatis-config.xml"/>
    </bean>

    <!--4. 配置dao接口的扫描包，可以将dao接口注入到spring中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
        <!--将sqlSessionFactory注入-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--注入要扫描的包-->
        <property name="basePackage" value="com.hcj.dao"/>
    </bean>

</beans>
